{% load static %}
  <html>
    <head>
      <title>
        Django Girls blog
      </title>
      <!-- Import Bootstrap -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <!-- Import Python-Blog/blogApp/static/css/blogHome.css -->
      <link rel="stylesheet" href="{% static 'css/blogHome.css' %}">
    </head>
    <body>
      <div class="page-header">
        <!-- Only show these to admin users who've logged in -->
        {% if user.is_authenticated %}
          <!-- Hyperlink, to view Drafts list -->
          <a href="{% url 'post_draft_list' %}" class="top-menu">
            <span class="glyphicon glyphicon-edit">
            </span>
          </a>
          <!-- New btn, creates new post -->
          <a href="{% url 'post_new' %}" class="top-menu">
            <span class="glyphicon glyphicon-plus">
            </span>
          </a>
        {% endif %}
        <h1>
          <a href="/">OmgitsKuei Django Blog</a>
        </h1>
        <p>
          This is a blog created with Django 3, SqlLite3, Python 3.8, Bootstrap, Atom, Chrome, PythonAnywhere hosting services, and windows CMD.
          The goal of this blog is to practice and show-case web development with python back-end framework Django.
          omgitskuei is a full-stack developer working in Taipei, Taiwan, with 2 years experience developing fintech, financial systems, and web-development
          in Java, Spring Frameworks, MSSQL, Js, Prototype.Js, jQuery, HTML, CSS, and React.
          omgitskuei is currently practicing Python, Django, and Bootstrap.
          omgitskuei is planning to study vue, more react, angular, machine learning, numpy, pandas, scikit, matplotlib, scipy, and deep learning.
        </p>
      </div>

      <div class="content container">
        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </body>
  </html>
