<!--
extending templates
-->
{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post">
      <div class="date">
        <p>
          Published: {{ post.published_date }}
        </p>
      </div>
      <!-- Post title -->
      <h2>
        <a href="{% url 'post_detail' pk=post.pk %}">
          {{ post.title }}
        </a>
      </h2>
      <!-- Post text -->
      <p>
        {{ post.text|linebreaksbr }}
      </p>
      <!-- Post comments-->
      <a href="{% url 'post_detail' pk=post.pk %}">
        Comments: {{ post.approved_comments.count }}
      </a>
      <hr>
    </div>
  {% endfor %}
{% endblock %}
